.work-card {
   padding: 8px;
   width: 100%;
   margin-top: 16px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: row-reverse;
}

.work-logo {
   height: 80px;
}

.work-info {
   display: flex;
   align-items: flex-end;
   flex-direction: column;
   width: 100%;
}
.company-name {
   font-size: 18px;
}

.work-dates {
   color: gray;
   margin-bottom: 10px;
   text-align: right;
}

.work-desc {
   text-align: right;
}

@media only screen and (max-width: 720px) {
   .work-card {
      width: 100%;
      display: block;
   }
}
